{% extends "base.html" %}

{% block content %}

{% load static from staticfiles %}
    <div class="clear"></div>
    <div id="page-content">
        <section class="flexslider">
            <ul class="slides">
                <li>
                    <img src="{% static 'images/slider-img.jpg' %}" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <b>Personal Insurance </b>
                            <h3>Health Insurance</h3>
                            <p>this is dummy, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in.</p>
                            <a href="#" class="ti-arrow-right"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/slider-img1.jpg' %}" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <b>Affordable Health Insurance plans</b>
                            <h3>Life Insurance</h3>
                            <p>Secure your loved ones with best Health insurance plan</p>
                            <a href="#" class="ti-arrow-right"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/slider-img2.jpg' %}" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <b>Family Insurance </b>
                            <h3>Comprehensive Health Insurance for Families</h3>
                            <p>Annual Health Check-up</p>
                            <p>Pre and Post Hospitalization Expenses</p>
                            <a href="#" class="ti-arrow-right"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <div class="container">
            <div class="row">
                <section class="col-sm-7 col-md-8 col-lg-8">
                    <div class="intro">
                        <h2>Everyone deserves a Guardian</h2>
                        <p>Every family is unique. Every life is unique. Your life insurance can help — wherever your future takes you and whatever you need to get there. Life insurance will help protect your loved ones if you pass away, but life insurance can do so much more, like helping pay for expenses during your lifetime.</p>
                        <ul class="row">
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>Our Vision</h3>
                                <p>The most preferred insurer in India with global footprint & recognition</p>
                                <p>Trusted brand admired by all stakeholders</p>
                                <p>The best-in-class customer service provider leveraging technology & multiple channels</p>
                                <p>The provider of a broad range of innovative products to meet the needs of all customer segments</p>
                                <p>Great place to work with highly motivated and empowered employees</p>
                                <p>Recognized for its contribution to the society</p>
                                
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>Corporate Mission</h3>
                                <h3>To provide Insurance protection to all</h3>
                                <p>To ensure customer satisfaction</p>
                                <p>To function on sound business principles</p>
                            </li>
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>Our Core Values</h3>
                                <p>Professionalism. We promote professionalism through exemplary conduct, deportment, positive attitudes and the highest ethical standards</p>
                                <p>Integrity. We uphold the highest level of integrity in every aspect of our Business</p>
                                <p>Quality Service</p>
                                <p>Teamwork</p>
                            </li>
                            </li>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="col-sm-5 col-md-4 col-lg-4">
                    <div class="get-quote-form">
                        <h2>Get a free quote form</h2>
                        <form id="get-quote">
                            <div>
                                <input type="text" name="name" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" name="email" placeholder="Email" />
                            </div>
                            <div>
                                <input type="text" name="ph-no" placeholder="Phone no" />
                            </div>
                            <div class="form-select">
                                <span></span>
                                <select>
                                    <option>Product</option>
                                </select>
                            </div>
                            <div>
                                <textarea rows="1" cols="1" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn-default" value="Get Free Quote" />
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <section class="product-tab">
            <div class="container">
                <div class="row">
                    <div id="parentVerticalTab">
                        <h2>What we offer</h2>
                        <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                            <li><i class="ti-home"></i> For life</li>
                            <li><i class="fa fa-plane"></i> Group Insurance</li>
                            <li><i class="fa fa-plane"></i> Travel Insurance</li>
                            <li><i class="ti-heart-broken"></i> Health Insurance</li>
                            <li><i class="ti-car"></i> Dental insurance</li>
                            <li><i class="ti-car"></i> Vision insurance</li>
                            <li><i class="ti-car"></i> Accident insurance</li>
                            <li><i class="ti-car"></i> Cirtical illiness insurance</li>
                            <li><i class="ti-car"></i> Cancer insurance</li>
                            <li><i class="ti-car"></i> Motor Policy</li>
                            <li><i class="ti-car"></i> For wealth</li>
                            <li><i class="ti-car"></i> Investment plan</li>
                        </ul>
                        <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-home"></i></span>
                                        Life Insurance
                                    </h4>
                                    </p>Life insurance </p>
                                    </p>Disabilty insurance </p>
                                    <p> </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="product-houseinsurance.html">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/product-img.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="fa fa-plane"></i></span>
                                        Travel Insurance
                                    </h4>
                                    <p>Whether travelling solo, with family or on a business ,Leisure or study trips, a peaceful journey is all we need during a trip. And for us at Tata AIG, your journey is as important as your destination!

 

Be it home turf or international locations, this travel insurance plans will cover your back at every step of the journey, taking care of you and your family against any adverse situations, be it medical or any trip inconvenience.

 

Our 24X7 worldwide assistance network are always on the job to support , guide &  make your journeys a memorable one.</p>
                                    <p> </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/1.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-heart-broken"></i></span>
                                        Life insurance
                                    </h4>
                                    <p>care </p>
                                    <p>Care freedom</p>
                                    <p>Care Heart</p>
                                    <p>Care Senior</p>
                                    <p>Cancer Medicllaim</p>
                                    <p>Critical Medicllaim</p>
                                    <p> </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/3.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-car"></i></span>
                                        Family Insurance
                                    </h4>
                                    <p>Our life revolves around our family. Securing their medical need should always be your top priority. Can you imagine something more important than your family? No, right? Then why let their health, happiness and financial stability be at stake? With growing risk of diseases and skyrocketing medical treatment expenses, a sound health insurance policy is the shield around your family.</p>
                                    <p>et placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/2.jpg' %}" alt="" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <h2 class="text-center">What's Covered Under Insurance?
</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 services-dtl">
                        <span class="fa fa-life-bouy"></span>
                        <h3>Health Insurance Policy</h3>
                        <p>In few easy steps just secure your entire family's health needs ,take a online policy today</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-pencil"></span>
                        <h3>Overseas Travel Policy</h3>
                        <p>Breath easy when you travel overseas with UIIC Overseas Travel Policy</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-email"></span>
                        <h3>Personal Accident Policy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="fa fa-money"></span>
                        <h3>Easy Installments</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-wallet"></span>
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="fa fa-laptop"></span>
                        <h3>More Online Policies</h3>
                        <p>Buy a policy from our bouquet of  Online Policies in few easy steps with a click</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-lock"></span>
                        <h3>Strongly Secure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-book"></span>
                        <h3>Online Policy Support</h3>
                        <p>Get our full support to resolve your queries and doubts related to Online Policies</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="text-center">Know what people says</h2>
                        <div class="testimonial-tab">
                            <div class="testimonials-tab-list">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab1"><img src="{% static 'images/people-01.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab2"><img src="{% static 'images/people-02.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:void(0);" data-tab="tab3"><img src="{% static 'images/people-03.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab4"><img src="{% static 'images/people-04.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab5"><img src="{% static 'images/people-05.jpg' %}" alt="Client" /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonials-tab-content">
                                <div class="clearfix testimonial-con" id="testimonial-tab1">
                                    <h3>John<br /><span>Developer</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante purus, aliquet ut urna id, blandit lobortis nisl. Phasellus varius velit sed placerat euismod. Duis nisi massa, pretium at luctus.</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab2">
                                    <h3>Roger<br /><span>Baseball Player</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Cras vitae justo eu tellus maximus rutrum. Vestibulum nibh nibh, varius nec vehicula sed, finibus in tortor. Aliquam dictum, ligula vel euismod eleifend, libero est elementum</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab3">
                                    <h3>Trusted by Happy Customers all over the country<br /><span></span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">It is heartening to hear all the good things that our customers had to say about our product benefits and customer service. Hear from our Customers who experienced the Guardian difference first-hand.
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab4">
                                    <h3>Liang<br /><span>Photographer</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Pellentesque feugiat suscipit quam, quis dignissim massa. Suspendisse potenti. Donec porta tempus ipsum id rhoncus. Aliquam hendrerit leo erat, non accumsan massa venenatis vitae.</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab5">
                                    <h3>Adam<br /><span>Student</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque.</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="recent-news">
            <h2 class="text-center">Recent News</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-pencil"></span>
                            <h3><a href="#">Free Sound Effects for Games, Apps & UI</a></h3>
                            <p>24 Dec 2015</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By Linda</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-image"></span>
                            <h3><a href="#">Free Sound Effects for Games, Apps & UI</a></h3>
                            <p>24 Dec 2015</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By Linda</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-comments"></span>
                            <h3><a href="#">Free Sound Effects for Games, Apps & UI</a></h3>
                            <p>24 Dec 2015</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By Linda</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-control-play"></span>
                            <h3><a href="#">Free Sound Effects for Games, Apps & UI</a></h3>
                            <p>24 Dec 2015</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By Linda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="container">
                <div class="row">
                    <div class="parner-slider-mn">
                        <div class="col-sm-3">
                            <h2>
                                <b>Insurance</b> Partners
                            </h2>
                        </div>
                        <div class="col-sm-9">
                            <div class="partner-slider owl-carousel">
                                <div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-01.jpg' %}" alt="Partner" /></p>
                                    </div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-04.jpg' %}" alt="Partner" /></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-02.jpg' %}" alt="Partner" /></p>
                                    </div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-05.jpg' %}" alt="Partner" /></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-03.jpg' %}" alt="Partner" /></p>
                                    </div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-06.jpg' %}" alt="Partner" /></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-04.jpg' %}" alt="Partner" /></p>
                                    </div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-01.jpg' %}" alt="Partner" /></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-05.jpg' %}" alt="Partner" /></p>
                                    </div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-02.jpg' %}" alt="Partner" /></p>
                                    </div>
                                </div>
                                <div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-06.jpg' %}" alt="Partner" /></p>
                                    </div>
                                    <div class="partner-logo">
                                        <p><img src="{% static 'images/partner-logo-03.jpg' %}" alt="Partner" /></p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
    
{% endblock  %}