{% extends "base.html" %}

{% block content %}

{% load static from staticfiles %}
    <div class="clear"></div>
    <div id="page-content">
        <section class="flexslider">
            <ul class="slides">
                <li>
                    <img src="{% static 'images/slider-img.jpg' %}" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <b>Family Insurance </b>
                            <h3>Health Insurance</h3>
                            <p>Choose the health inurance plan that works well for you</p>
                            <a href="#" class="ti-arrow-right"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/slider-img1.jpg' %}" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <b>Affordable Health Insurance plans</b>
                            <h3>I'm not perfect,Just insured</h3>
                            <p>Planning for the future so we can live in the moment</p>
                            <a href="#" class="ti-arrow-right"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/slider-img2.jpg' %}" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <b>Guardian Insurance </b>
                            <h3>We can help you get affordable,quality health insurance</h3>
                            <p>Term life part of a good defensive game plan</p>
                            <a href="#" class="ti-arrow-right"></a>
                        </div>
                    </div>
                </li>
                <!--<li>-->
                <!--    <img src="{% static 'images/photo1.jpg' %}" />-->
                <!--    <div class="slide-info">-->
                <!--        <div class="slide-con">-->
                <!--            <b>Core Values </b>-->
                <!--            <h3>Comprehensive Health Insurance for Families</h3>-->
                <!--            <p>Annual Health Check-up</p>-->
                <!--            <p>Pre and Post Hospitalization Expenses</p>-->
                <!--            <a href="#" class="ti-arrow-right"></a>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</li>-->
            </ul>
        </section>
        <div class="container">
            <div class="row">
                <section class="col-sm-7 col-md-8 col-lg-8">
                    <div class="intro">
                        <h2>Welcome to Guardian</h2>
                        <p>Every family is unique. Every life is unique. Your life insurance can help — wherever your future takes you and whatever you need to get there. Life insurance will help protect your loved ones if you pass away, but life insurance can do so much more, like helping pay for expenses during your lifetime.</p>
                        <ul class="row">
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>Our Vision</h3>
                                <p>Our vision is to become an industry leader in commercialized insuarnce by setting insutry standards for excellence in the services we provide.because our innovative team works constantly on perfectly, changing, fine-turning our products, we'r always adapting to our customers' changeing requirements </p>
                                
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>Corporate Mission</h3>
                                <h3>To provide Insurance protection to all</h3>
                                <p>Our mission is to provide a top-notch customer experience by delivering quality products and by building a company culture of empowerment and collaboration</p>
                            </li>
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>Our Core Values</h3>
                                <p>Team spirit, innovation, responsibility and commitment are the core values shared by all guardian employees</p>
                                <p>Integrity. We uphold the highest level of integrity in every aspect of our Business</p>
                                <p>These values are central to our vision of a relationship-focused insurance company committed to serving its customers</p>
                            </li>
                            </li>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="col-sm-5 col-md-4 col-lg-4">
                    <div class="get-quote-form">
                        <h2>Get a free quote form</h2>
                        <form id="get-quote">
                            <div>
                                <input type="text" name="name" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" name="email" placeholder="Email" />
                            </div>
                            <div>
                                <input type="text" name="ph-no" placeholder="Phone no" />
                            </div>
                            <div class="form-select">
                                <span></span>
                                <select>
                                    <option>Product</option>
                                </select>
                            </div>
                            <div>
                                <textarea rows="1" cols="1" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn-default" value="Get Free Quote" />
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <section class="product-tab">
            <div class="container">
                <div class="row">
                    <div id="parentVerticalTab">
                        <h2>What we offer</h2>
                        <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                            <li><i class="ti-pulse"></i> Life Insurance</li>
                            <li><i class="ti-user"></i> Group Insurance</li>
                            <li><i class="fa fa-plane"></i> Travel Insurance</li>
                            <li><i class="ti-heart-broken"></i> Health Insurance</li>
                            <li><i class="ti-support"></i> Dental insurance</li>
                            <li><i class="fa-binoculars"></i> Vision insurance</li>
                            <li><i class="ti-alert"></i> Accident insurance</li>
                            <li><i class="ti-wheelchair"></i> Critical illiness insurance</li>
                            <!--<li><i class="ti-car"></i> Cancer insurance</li>-->
                            <li><i class="ti-car"></i> Motor Policy</li>
          
                        </ul>
                        <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-pulse"></i></span>
                                        Life Insurance
                                    </h4>
                                    </p>Life insurance is a contract between an insurance policy holder and an insurer or assurer, where the insurer promises to pay a designated beneficiary a sum of money (the benefit) in exchange for a premium, upon the death of an insured person (often the policy holder). Depending on the contract, other events such as terminal illness or critical illness can also trigger payment. The policy holder typically pays a premium, either regularly or as one lump sum. Other expenses, such as funeral expenses, can also be included in the benefits </>
                                    </p>Life insurance plans </p>
                                    </p>Disabilty insurance plans</p>
                                    <p> </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="product-houseinsurance.html">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/product-img.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-user"></i></span>
                                        Group Insurance
                                    </h4>
                                    <p>A Group Health Insurance Policy is a type of health insurance plan that covers for a group of people who work under the same organization. This is often offered as a valuable benefit for employees as the premium for the same is borne by the employer. However, the price for the same is comparatively a lot lesser as compared to individual health insurance plans and also benefits employers in tax reductions, therefore making it beneficial for both the employer and employee</p>
                                    <p>Care Freedom</p>
                                    <p>Care Heart</p>
                                    <p>Care Senior</p>
                                    <p>Care Mediclaim</p>
                                    <p>Critical Mediclaim</p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX<span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/1.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="fa fa-plane"></i></span>
                                        Travel insurance
                                    </h4>
                                    <p>Whether travelling solo, with family or on a business ,Leisure or study trips, a peaceful journey is all we need during a trip. And for us at Tata AIG, your journey is as important as your destination!
                                    Be it home turf or international locations, this travel insurance plans will cover your back at every step of the journey, taking care of you and your family against any adverse situations, be it medical or any trip inconvenience.
                                    Our 24X7 worldwide assistance network are always on the job to support , guide &  make your journeys a memorable one</p>
                                    <p> </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/3.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-heart-broken"></i></span>
                                        Health Insurance
                                    </h4>
                                    <p>Our life revolves around our family. Securing their medical need should always be your top priority. Can you imagine something more important than your family? No, right? Then why let their health, happiness and financial stability be at stake? With growing risk of diseases and skyrocketing medical treatment expenses, a sound health insurance policy is the shield around your family.</p>
                                    
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/2.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-support"></i></span>
                                        Dental Insurance
                                    </h4>
                                    <p>Dental health is an important part of your overall health. Dental plans can help you plan and budget for the costs of dental care. With a variety of plans available, you can find basic dental coverage for general dental care or choose coverage for major care, such as dental implants</p>
                                    <p>Dental insurance plans are underwritten by Guardian Insurance Company, and include a range of options so you can find one that's most affordable for you.</p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/2.jpg' %}" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="fa-binoculars"></i></span>
                                        Vision Insurance
                                    </h4>
                                    <p>Vision insurance is designed to help you cover and budget for ongoing vision care expenses like routine eye exams, prescription glasses and contact lenses</p>
                                    <p>Are you looking for vision insurance, or eye insurance? UnitedHealthcare offers vision plans underwritten by Golden Rule Insurance Company that feature:</p>
                                    <p>•    Coverage for people of all ages</p>
                                    <p>•    No waiting periods</p>
                                    <p>•    Saving through a national network of vision service and eyewear providers</p>
                                    <p>•    Freedom to go out of network and still get benefits if you pay the difference between your plan allowance and your final cost</p>
                                    
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/2.jpg' %}" alt="" class="img-responsive" />
                        </div>
                        <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-alert"></i></span>
                                        Accident Insurance
                                    </h4>
                                    <p>Accident insurance is a type of insurance where the policy holder is paid directly in the event of an accident resulting in injury of the insured. The insured can spend the benefit payment however they choose. Accident insurance is complementary to, not a replacement for, health insurance</p>
                                    
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/Acci 2.jpg' %}" alt="" class="img-responsive" />
                    </div>
                    <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-wheelchair"></i></span>
                                        Critical Illness Insurance
                                    </h4>
                                    <p>Critical illness insurance, otherwise known as critical illness cover or a dread disease policy, is an insurance product in which the insurer is contracted to typically make a lump sum cash payment if the policyholder is diagnosed with one of the specific illnesses on a predetermined list as part of an insurance policy</p>
                                    
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/illness.jpg' %}" alt="" class="img-responsive" />
                </div>
                <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-car"></i></span>
                                        Motor Insurance
                                    </h4>
                                    <p>Vehicle insurance (also known as car insurance, motor insurance, or auto insurance) is insurance for cars, trucks, motorcycles, and other road vehicles. Its primary use is to provide financial protection against physical damage or bodily injury resulting from traffic collisions and against liability that could also arise from incidents in a vehicle. Vehicle insurance may additionally offer financial protection against theft of the vehicle, and against damage to the vehicle sustained from events other than traffic collisions, such as keying, weather or natural disasters, and damage sustained by colliding with stationary objects.</p>
                                    
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +XXX XXX XXXX <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Get Free Quote</a>
                                    </p>
                                </div>
                                <img src="{% static 'images/2.jpg' %}" alt="" class="img-responsive" />
            </div>
        </section>
        <section class="services">
            <h2 class="text-center">What's Covered Under Insurance?
</h2>
            <div class="container">
                <div class="row">
<!--                    <div class="col-sm-3 services-dtl">-->
<!--                        <span class="fa fa-life-bouy"></span>-->
<!--                        <h3>Health Insurance Policy</h3>-->
<!--                        <p>In few easy steps just secure your entire family's health needs ,take a online policy today</p>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3 services-dtl">-->
<!--                        <span class="ti-pencil"></span>-->
<!--                        <h3>Overseas Travel Policy</h3>-->
<!--                        <p>Breath easy when you travel overseas with UIIC Overseas Travel Policy</p>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3 services-dtl">-->
<!--                        <span class="ti-email"></span>-->
<!--                        <h3>Personal Accident Policy</h3>-->
<!--                        <p>We Cover-->
<!--Physical loss to an individual due to an accidental injury ( including fatal)-->
<!--Any individual or group of individuals (through employer association and institution etc) aged between 5 and 70. Subject to medical examination at 70 a person can be covered up to 80.-->
<!--Death or disablement from accidental bodily injury (anywhere in the world)</p>-->
<!--                    </div>-->
                    <div class="col-sm-3 services-dtl">
                        <span class="fa fa-money"></span>
                        <h3>Easy Installments</h3>
                        <p>We have multiple easy payment plans available. customers can avail easy installment payment mode also.</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-ruler-pencil"></span>
                        <h3>Calculate Premium</h3>
                        <p>Calculate premium for your plan.</p>
                    </div>
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-lock"></span>
                        <h3>Build a Plan</h3>
                        <p>Speak to financial representtative</p>
                        <p>Purchase coverage online</p>
                    </div>
                    
                    <div class="col-sm-3 services-dtl">
                        <span class="ti-book"></span>
                        <h3>Online Policy Support</h3>
                        <p>Get our full support to resolve your queries and doubts related to Online Policies</p>
                    </div>
            </div>
        </section>
        <section class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="text-center">Know what people says</h2>
                        <div class="testimonial-tab">
                            <div class="testimonials-tab-list">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab1"><img src="{% static 'images/people-01.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab2"><img src="{% static 'images/people-02.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:void(0);" data-tab="tab3"><img src="{% static 'images/people-03.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab4"><img src="{% static 'images/people-04.jpg' %}" alt="Client" /></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-tab="tab5"><img src="{% static 'images/people-05.jpg' %}" alt="Client" /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonials-tab-content">
                                <div class="clearfix testimonial-con" id="testimonial-tab1">
                                    <h3>John<br /><span>Developer</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante purus, aliquet ut urna id, blandit lobortis nisl. Phasellus varius velit sed placerat euismod. Duis nisi massa, pretium at luctus.</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab2">
                                    <h3>Roger<br /><span>Baseball Player</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Cras vitae justo eu tellus maximus rutrum. Vestibulum nibh nibh, varius nec vehicula sed, finibus in tortor. Aliquam dictum, ligula vel euismod eleifend, libero est elementum</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab3">
                                    <h3>Trusted by Happy Customers all over the country<br /><span></span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">It is heartening to hear all the good things that our customers had to say about our product benefits and customer service. Hear from our Customers who experienced the Guardian difference first-hand.
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab4">
                                    <h3>Liang<br /><span>Photographer</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Pellentesque feugiat suscipit quam, quis dignissim massa. Suspendisse potenti. Donec porta tempus ipsum id rhoncus. Aliquam hendrerit leo erat, non accumsan massa venenatis vitae.</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                                <div class="clearfix testimonial-con" id="testimonial-tab5">
                                    <h3>Adam<br /><span>Student</span></h3>
                                    <i class="fa fa-quote-left left-quote"></i>
                                    <p class="col-sm-offset-1 col-sm-10">Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque.</p>
                                    <i class="fa fa-quote-right right-quote"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="recent-news">
            <h2 class="text-center">Recent News</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-pencil"></span>
                            <h3><a href="#">In News</a></h3>
                            <p>XX XXX XXXX</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By Newspaper source</a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6 col-md-3">-->
                    <!--    <div class="news-sec-box">-->
                    <!--        <span class="ti-image"></span>-->
                    <!--        <h3><a href="#">Free Sound Effects for Games, Apps & UI</a></h3>-->
                    <!--        <p>24 Dec 2015</p>-->
                    <!--        <div class="news-by">-->
                    <!--            <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>-->
                    <!--            <a href="#">By Linda</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-comments"></span>
                            <h3><a href="#">Social Media</a></h3>
                            <p>XX XXX XXXX</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By Social Media</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="news-sec-box">
                            <span class="ti-control-play"></span>
                            <h3><a href="#">Latest videos update</a></h3>
                            <p>XX XXX XXXX</p>
                            <div class="news-by">
                                <a href="#"><img src="{% static 'images/people-03.jpg' %}" /></a>
                                <a href="#">By video source</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--    <section class="partners">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="parner-slider-mn">-->
    <!--                    <div class="col-sm-3">-->
    <!--                        <h2>-->
    <!--                            <b>Insurance</b> Partners-->
    <!--                        </h2>-->
    <!--                    </div>-->
    <!--                    <div class="col-sm-9">-->
    <!--                        <div class="partner-slider owl-carousel">-->
    <!--                            <div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-01.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-04.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-02.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-05.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-03.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-06.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-04.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-01.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-05.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-02.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-06.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                                <div class="partner-logo">-->
    <!--                                    <p><img src="{% static 'images/partner-logo-03.jpg' %}" alt="Partner" /></p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
    
{% endblock  %}