<!--{% extends "base.html" %} {% block content %}-->

<!--<div class="col-md-6 offset-md-3">-->
<!--    <h1 class="text-center">Login</h1>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" placeholder="Enter Registeration Id" name="username">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="password" class="form-control" placeholder=" Enter Password" name="password">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Login</button>-->
<!--    </form>-->
<!--</div>-->

<form action="action_page.php" method="post">
  <div class="col-md-6 offset-md-3">
    <!--<img src="img_avatar2.png" alt="Avatar" class="avatar">-->
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

{% endblock %}